@{
    Layout = null;
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Admin</title>
</head>
<body>
    <div>
        <h1>This is Admin About</h1>
    </div>
</body>
</html>