
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<style>
    .wrapper {
        height: 500px;
        text-align: center;
    }
    h2{
        margin-top: 200px;
    }
</style>
<h2>AccessDenied</h2>

