
<div id="giohang" class="shopping_cart">
    <div class="cart">
        <a href="#" title="View my shopping cart" rel="nofollow">
            <strong class="opencart"> </strong>
            <span class="cart_title">Cart</span>
            @*<span class="no_product">(@ViewBag.SoLuongItemGioHang)</span>*@
            <span class="no_product">(@Session["CartItems"])</span>
        </a>
    </div>
</div>