
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}
<style>
    .span_3_of_1{
        padding: 0 !important;
    }
    .rightsidebar{
        margin: 0 !important;
    }
    .span_1_of_2{
        width: 100%;
        padding: 0;
    }
    .cont-desc{
        clear:none;
    }
    table{
        margin-top: 15px;
    }
    table thead {
        background: #dacee6;
    }
    .product-desc{
        padding: 0;
        width:145px;
    }
        .product-desc h2 {
            background: #dac3ef;
        }
</style>
<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-desc">
                <h2>Giỏ hàng</h2>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">MSP</th>
                        <th scope="col">Tên SP</th>
                        <th scope="col">Hình Ảnh</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>12</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Sửa|Xóa</td>
                    </tr>
                </tbody>
            </table>
        </div>
 	</div>
</div>


