@model IEnumerable<WebBanHang.Models.SanPham>
<style>
    .nav-drop li:hover {
        background: #c1b6b6;
    }
</style>
<div class="h_menu">
    <a id="touch-menu" class="mobile-menu" href="#">Menu</a>
    <nav>
        <ul class="menu list-unstyled">
            <li><a href="/">Trang chủ</a></li>
            <li class="activate">
                <a href="/SanPham/DanhSachSanPham">Sản Phẩm</a>
                <ul class="sub-menu list-unstyled sub-menu2">
                    <div class="navg-drop-main">
                        <div class="nav-drop nav-top-brand">
                            @foreach (var item in Model.GroupBy(x => x.LoaiSanPham))
                            {
                                <li><a href="/SanPham/DanhSach?Type=@item.Key.BiDanh">@item.Key.TenLoai</a></li>
                            }
                            <li><a href="/SanPham/DanhSachSanPham">Toàn bộ sản phẩm</a></li>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </ul>
            </li>
            <li>
                <a href="products.html">Thương hiệu</a>
                <ul class="sub-menu list-unstyled sub-menu2">
                    <div class="navg-drop-main">
                        <div class="nav-drop nav-top-brand">
                            @foreach (var item in Model.GroupBy(x => x.NhaSanXuat))
                            {
                                <li><a href="/SanPham/ThuongHieu?t=@item.Key.TenNSX">@item.Key.TenNSX</a></li>
                            }

                        </div>
                        <div class="clear"> </div>
                    </div>
                </ul>
            </li>
            <li>
                <a href="faq.html">Tin Tức</a>
            </li>
            <li><a href="about.html">Giới thiệu</a></li>
            <li><a href="#">Hỏi đáp</a></li>
            @if (Session["KhachHang"] != null && Session["KhachHang"].ToString() != "")
            {
                
            }
            else
            {
                <li><a href="#">Faqs</a></li>
            }
            
            @if (Session["KhachHang"] != null && Session["KhachHang"].ToString() != "")
            {
                WebBanHang.Models.KhachHang kh = (WebBanHang.Models.KhachHang)Session["KhachHang"];
                <li>
                    <a href="#"> Chào @kh.HoTen </a>

                    <ul class="sub-menu list-unstyled sub-menu2">
                        <div class="navg-drop-main">
                            <div class="nav-drop nav-top-brand">
                                <li><a href="products.html">Tài khoản của tôi</a></li>
                                <li><a href="products.html">Đơn mua</a></li>
                                <li>@Html.ActionLink("Đăng xuất", "LogOut", "KhachHang")</li>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </ul>
                </li>
            }
            else
            {
                <li><a href="../KhachHang/Login">Đăng Nhập</a></li>
            }
            <div class="clear"> </div>
        </ul>
    </nav>
    <script src="~/Content/ClientLayout/js/menu.js" type="text/javascript"></script>
</div>

